DirectorySlash Off
DirectoryIndex Alloy/route.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}  -d
RewriteRule  .*$  -  [L]

RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  .*$  -  [L]

RewriteRule .*$    Alloy/route.php [L]