html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu
{
    displaY: flex;
    height: 50px;
    background: tomato;
    font-family: sans-serif;
}

.menu > a
{
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    line-height: 50px;
    vertical-align: center;
    font-size: 30px;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    
    transition: all 0.2s;
    cursor: pointer;
}

.menu > a:hover
{
    background: orange;
}

.menu > a.active
{
    background: cyan;
}

.body
{
    display: flex;
    justify-content: center;
}

#content
{
    width: 800px;
    padding: 20px 50px;
    background: seagreen;
}