<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title name="title" active>Alloy test</title>
        <script src="/alloy/alloy.js"> </script>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <nav class="menu">
            <a name="homebutton" href="/hem" active>Hem</a>
            <a name="ombutton" href="/om" active>Om</a>
            <a name="bilderbutton" href="/bilder" active>Bildar</a>
            <a name="kontaktbutton" href="/kontakt" active>Kontakt</a>
        </nav>
        <div class="body">
            <main id="content" name="content" active>
                Hej!, det här är min startsida! Du suger.
                <.*?\s(type\s*=\s*"template\/text"|active\b).*?>
                Hello
                
                .Hej hej på dig dig.
            </main>
        </div>
        
        
        
        <script>
            
            function goto(page)
            {
                var obj = {page:page};
                Alloy.request("test.php",obj);
            }
        </script>
        
        <script type="template/html" name="template" active>
            <div class="item">
                <div name="title" active> testing </div>
                <img src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg" name="image" active>
            </div>
        </script>
    </body>
</html>